<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tristan.hciprototypes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:label="Self Guide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AdminTristan"
            android:screenOrientation="landscape"
            android:label="Admin"/>

        <activity android:name=".AdminJohn"
            android:screenOrientation="landscape"
            android:label="Admin"/>

        <activity android:name=".ItemInfo"
            android:screenOrientation="landscape"
            android:label="Tour Member"/>

        <activity android:name=".TourJohn"
            android:screenOrientation="landscape"
            android:label="Tour Member"/>

        <activity android:name=".MapTristan"
            android:screenOrientation="landscape"
            android:label="Map"/>

    </application>

</manifest>